* {
    margin-left: 15px;
}
h1{border-style:double; border-color: black;}

body {
    background-color: burlywood;
}

h3 {
    font-size: large;
}

p {
    font-size: 20px;
}

a {
    font-size: 40px;
}

li {
    font-size: 20px;
}

.nl {
    margin: 50px;
}