.center {
    text-align: center;
}

.bord {
    border: 5px;
    border-style: solid;
    border-radius: 250px;
    border-color: black;
    margin-left: 40%;
    margin-right: 40%;
    
}
.test {
    display: lock;
    border-sizing: border-box;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(89, 173, 145);
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0px;
    background-color: rgba(182, 226, 255, 0.767);
    font-size:x-large;
    font-weight: bold;
}
.rec {
    display: block;
    border-sizing: border-box;
    border-style: solid;
    border-width: 5px;
    border-color: brown;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0px;
    background-color: rgba(210, 105, 30, 0.733);
    font-size: x-large;
    font-weight: bold;

}

body {
    background-image: url("images/pots.jpg");
}

.shade {
    background-color: rgba(255, 228, 196, 0.705);
    margin-right: 70%;
    border: 5px;
    font-weight: bold;
}

h1 {
    font-size:250%;
}

.sep{
    padding-inline: 100px;
}